-i https://pypi.org/simple
aiohappyeyeballs==2.6.1; python_version >= '3.9'
aiohttp==3.13.3; python_version >= '3.9'
aiosignal==1.4.0; python_version >= '3.9'
alembic==1.18.4; python_version >= '3.10'
annotated-doc==0.0.4; python_version >= '3.8'
annotated-types==0.7.0; python_version >= '3.8'
antlr4-python3-runtime==4.9.3
anyio==4.12.1; python_version >= '3.9'
appnope==0.1.4; python_version >= '3.6'
asn1crypto==1.5.1
asttokens==3.0.1; python_version >= '3.8'
async-timeout==5.0.1; python_version >= '3.8'
attrs==26.1.0; python_version >= '3.9'
aws-secretsmanager-caching==1.1.3; python_version >= '3.6'
bcrypt==5.0.0; python_version >= '3.8'
black[jupyter]==26.3.1; python_version >= '3.10'
blinker==1.9.0; python_version >= '3.9'
boto3==1.42.71; python_version >= '3.9'
botocore==1.42.71; python_version >= '3.9'
brotli==1.2.0
cachetools==7.0.5; python_version >= '3.10'
certifi==2026.2.25; python_version >= '3.7'
cffi==2.0.0; python_version >= '3.9'
charset-normalizer==3.4.6; python_version >= '3.7'
click==8.3.1; python_version >= '3.10'
cloudpickle==3.1.2; python_version >= '3.8'
coloredlogs==15.0.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
comm==0.2.3; python_version >= '3.8'
contourpy==1.3.2; python_version >= '3.10'
cryptography==46.0.5; python_version >= '3.8' and python_full_version not in '3.9.0, 3.9.1'
cycler==0.12.1; python_version >= '3.8'
databricks-connect==18.1.2; python_version == '3.12'
databricks-sdk==0.102.0; python_version >= '3.7'
databricks-sql-connector==4.2.5; python_full_version >= '3.8.0' and python_full_version < '4.0.0'
debugpy==1.8.20; python_version >= '3.8'
decorator==5.2.1; python_version >= '3.8'
deepdiff==8.6.2; python_version >= '3.9'
docker==7.1.0; python_version >= '3.8'
et-xmlfile==2.0.0; python_version >= '3.8'
exceptiongroup==1.3.1; python_version >= '3.7'
executing==2.2.1; python_version >= '3.8'
fastapi==0.135.1; python_version >= '3.10'
filelock==3.25.2; python_version >= '3.10'
flask==3.1.3; python_version >= '3.9'
flask-cors==6.0.2; python_version >= '3.9' and python_version < '4.0'
flatbuffers==25.12.19
fonttools==4.62.1; python_version >= '3.10'
frozenlist==1.8.0; python_version >= '3.9'
fsspec==2026.2.0; python_version >= '3.10'
gevent==25.9.1; python_version >= '3.9'
geventhttpclient==2.3.9; python_version >= '3.9'
gitdb==4.0.12; python_version >= '3.7'
gitpython==3.1.46; python_version >= '3.7'
google-auth==2.49.1; python_version >= '3.8'
googleapis-common-protos==1.73.0; python_version >= '3.7'
graphene==3.4.3
graphql-core==3.2.8; python_version >= '3.7' and python_version < '4'
graphql-relay==3.2.0; python_version >= '3.6' and python_version < '4'
greenlet==3.3.2; python_version >= '3.10'
grpcio==1.78.0; python_version >= '3.9'
grpcio-status==1.78.0; python_version >= '3.9'
gunicorn==25.1.0; python_version >= '3.10'
h11==0.16.0; python_version >= '3.8'
huey==2.6.0
humanfriendly==10.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
idna==3.11; python_version >= '3.8'
importlib-metadata==6.11.0; python_version >= '3.8'
iniconfig==2.3.0; python_version >= '3.10'
invoke==2.2.1; python_version >= '3.6'
ipykernel==7.2.0; python_version >= '3.10'
ipython==9.11.0; python_version >= '3.12'
ipython-pygments-lexers==1.1.1; python_version >= '3.8'
itsdangerous==2.2.0; python_version >= '3.8'
jedi==0.19.2; python_version >= '3.6'
jinja2==3.1.6; python_version >= '3.7'
jmespath==1.1.0; python_version >= '3.9'
joblib==1.5.3; python_version >= '3.9'
json5==0.13.0; python_full_version >= '3.8.0'
jsonschema==4.26.0; python_version >= '3.10'
jsonschema-specifications==2025.9.1; python_version >= '3.9'
jupyter-client==8.8.0; python_version >= '3.10'
jupyter-core==5.9.1; python_version >= '3.10'
kiwisolver==1.5.0; python_version >= '3.10'
lz4==4.4.5; python_version >= '3.9'
mako==1.3.10; python_version >= '3.8'
markdown-it-py==4.0.0; python_version >= '3.10'
markupsafe==3.0.3; python_version >= '3.9'
matplotlib==3.10.8; python_version >= '3.10'
matplotlib-inline==0.2.1; python_version >= '3.9'
mdurl==0.1.2; python_version >= '3.7'
ml-dtypes==0.5.4; python_version >= '3.9'
mlflow==3.10.1; python_version >= '3.10'
mlflow-skinny==3.10.1; python_version >= '3.10'
mlflow-tracing==3.10.1; python_version >= '3.10'
mock==4.0.3; python_version >= '3.6'
mpmath==1.3.0
multidict==6.7.1; python_version >= '3.9'
mypy-extensions==1.1.0; python_version >= '3.8'
nest-asyncio==1.6.0; python_version >= '3.5'
networkx==3.4.2; python_version >= '3.10'
numpy==2.2.6; python_version >= '3.10'
oauthlib==3.3.1; python_version >= '3.8'
omegaconf==2.3.0; python_version >= '3.6'
onnx==1.20.1; python_version >= '3.10'
onnxruntime==1.23.2; python_version >= '3.10'
openpyxl==3.1.5; python_version >= '3.8'
opentelemetry-api==1.40.0; python_version >= '3.9'
opentelemetry-proto==1.40.0; python_version >= '3.9'
opentelemetry-sdk==1.40.0; python_version >= '3.9'
opentelemetry-semantic-conventions==0.61b0; python_version >= '3.9'
orderly-set==5.5.0; python_version >= '3.8'
packaging==26.0; python_version >= '3.8'
pandas==2.3.3; python_version >= '3.9'
paramiko==4.0.0; python_version >= '3.9'
parso==0.8.6; python_version >= '3.6'
pathspec==1.0.4; python_version >= '3.9'
pexpect==4.9.0; sys_platform != 'win32' and sys_platform != 'emscripten'
pillow==12.1.1; python_version >= '3.10'
platformdirs==4.9.4; python_version >= '3.10'
pluggy==1.6.0; python_version >= '3.9'
polars==1.39.2; python_version >= '3.10'
polars-runtime-32==1.39.2; python_version >= '3.10'
prettytable==3.17.0; python_version >= '3.10'
prompt-toolkit==3.0.52; python_version >= '3.8'
propcache==0.4.1; python_version >= '3.9'
protobuf==6.33.6; python_version >= '3.9'
psutil==7.2.2; python_version >= '3.6'
ptyprocess==0.7.0
pure-eval==0.2.3
py4j==0.10.9.9
pyarrow==23.0.1; python_version >= '3.10'
pyasn1==0.6.3; python_version >= '3.8'
pyasn1-modules==0.4.2; python_version >= '3.8'
pybreaker==1.4.1; python_version >= '3.9'
pycparser==3.0; python_version >= '3.10'
pydantic==2.12.5; python_version >= '3.9'
pydantic-core==2.41.5; python_version >= '3.9'
pygments==2.19.2; python_version >= '3.8'
pyjwt==2.12.1; python_version >= '3.9'
pynacl==1.6.2; python_version >= '3.8'
pyopenssl==26.0.0; python_version >= '3.8'
pyparsing==3.3.2; python_version >= '3.9'
pytest==9.0.2; python_version >= '3.10'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
python-dotenv==1.2.2; python_version >= '3.10'
python-rapidjson==1.23; python_version >= '3.6'
pytokens==0.4.1; python_version >= '3.8'
pytz==2026.1.post1
pyyaml==6.0.3; python_version >= '3.8'
pyzmq==27.1.0; python_version >= '3.8'
referencing==0.37.0; python_version >= '3.10'
requests==2.32.5; python_version >= '3.9'
rich==14.3.3; python_full_version >= '3.8.0'
rpds-py==0.30.0; python_version >= '3.10'
ruamel.yaml==0.19.1; python_version >= '3.9'
s3fs==0.4.2; python_version >= '3.5'
s3transfer==0.16.0; python_version >= '3.9'
sagemaker==3.5.0; python_version >= '3.9'
sagemaker-core==2.5.1; python_version >= '3.9'
sagemaker-mlflow==0.2.0; python_version >= '3.8'
sagemaker-mlops==1.5.0; python_version >= '3.9'
sagemaker-schema-inference-artifacts==0.0.5; python_version >= '3.8'
sagemaker-serve==1.5.0; python_version >= '3.9'
sagemaker-train==1.5.0; python_version >= '3.9'
schema==0.7.8
scikit-learn==1.7.2; python_version >= '3.10'
scipy==1.15.3; python_version >= '3.10'
setuptools==82.0.1; python_version >= '3.10'
six==1.17.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
skops==0.13.0; python_version >= '3.9'
smdebug-rulesconfig==1.0.1; python_version >= '2.7'
smmap==5.0.3; python_version >= '3.7'
snowflake-connector-python==4.4.0; python_version >= '3.9'
sortedcontainers==2.4.0
sqlalchemy==2.0.48; python_version >= '3.7'
sqlparse==0.5.5; python_version >= '3.8'
stack-data==0.6.3
starlette==0.52.1; python_version >= '3.10'
sympy==1.14.0; python_version >= '3.9'
tblib==3.2.2; python_version >= '3.9'
threadpoolctl==3.6.0; python_version >= '3.9'
thrift==0.20.0
tokenize-rt==6.2.0; python_version >= '3.9'
tomli==2.4.0; python_version >= '3.8'
tomlkit==0.14.0; python_version >= '3.9'
torch==2.10.0; python_version >= '3.10'
tornado==6.5.5; python_version >= '3.9'
tqdm==4.67.3; python_version >= '3.7'
traitlets==5.14.3; python_version >= '3.8'
tritonclient[http]==2.66.0
typing-extensions==4.15.0; python_version >= '3.9'
typing-inspection==0.4.2; python_version >= '3.9'
tzdata==2025.3; python_version >= '2'
urllib3==2.6.3; python_version >= '3.9'
uvicorn==0.42.0; python_version >= '3.10'
wcwidth==0.6.0; python_version >= '3.8'
werkzeug==3.1.6; python_version >= '3.9'
yarl==1.23.0; python_version >= '3.10'
zipp==3.23.0; python_version >= '3.9'
zope.event==6.1; python_version >= '3.10'
zope.interface==8.2; python_version >= '3.10'
zstandard==0.25.0; python_version >= '3.9'
